---
apiVersion: v1
kind: Service
metadata:
  name: monitoring-kube-prometheus-prometheus
  namespace: monitoring
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: "prometheus"
    tailscale.com/tags: "tag:k8s"
spec:
  ports:
    - name: http-web
      port: 9090
      targetPort: 9090
  selector:
    app.kubernetes.io/name: prometheus
    operator.prometheus.io/name: monitoring-kube-prometheus-prometheus
