---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: argocd-server
        annotations:
          tailscale.com/expose: "true"
          tailscale.com/hostname: "ml-argocd"
          tailscale.com/tags: "tag:k8s"
    target:
      kind: Service
      name: argocd-server
